

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>部件列表</title>
<script type="text/javascript" src="js/jquery.js"></script>
 <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" type="text/css"  />
<script type="text/javascript" src="layuiadmin/layui/layui.js"></script>
</head>
<body style="padding:10px 6px 30px 6px;background: #FFF">  
  
 <div class="layui-form ">
 
 
  <div class="layui-inline">
      
      <div class="layui-input-inline" style="width: 100px;">
        <input type="text" name="date_min" placeholder="开始日期" autocomplete="off" class="layui-input date">
      </div>
      <div class="layui-input-inline">-</div>
      <div class="layui-input-inline" style="width: 100px;">
        <input type="text" name="date_max" placeholder="结束日期" autocomplete="off" class="layui-input date">
      </div>
    </div>


    <div class="layui-inline">

     <select name="parentid" id="parentid" selected><option value="">≡ 作为一级栏目 ≡</option>
      <option value="0">网站首页</option><option value="1">关于我们</option><option value="2">&nbsp;&nbsp;├─公司简介</option><option value="3">&nbsp;&nbsp;├─公司风采</option><option value="4">&nbsp;&nbsp;├─公司荣誉</option><option value="5">&nbsp;&nbsp;├─公司致辞</option><option value="6">新闻资讯</option><option value="7">&nbsp;&nbsp;├─公司新闻</option><option value="8">&nbsp;&nbsp;├─行业新闻</option><option value="9">&nbsp;&nbsp;├─通知公告</option><option value="10">产品中心</option><option value="11">&nbsp;&nbsp;├─2020产品</option><option value="12">&nbsp;&nbsp;├─2021产品</option><option value="13">联系我们</option><option value="14">banner</option><option value="15">常见问题</option><option value="16">优势</option>
    </select>
     </div>
  <div class="layui-inline"> 
 
    <input class="layui-input" name="key" id="demoReload" autocomplete="off" placeholder="输入要查询的名称">
    </div>



      
  <button class="layui-btn" data-type="reload">搜索</button>
  <button class="layui-btn" onclick="tc2('添加信息','listform.asp?',800,450)   ">添加</button>
</div>
 

 <script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a> 
</script>
<table class="layui-hide" id="table" lay-filter="demo"></table>
 
<script>
layui.use('table', function() {
    var table = layui.table;

    //方法级渲染
    table.render({
        elem: '#table',
        url: 'json?act=list',
        cols: [
            [

                { field: 'id', title: 'ID', width: 70, sort: false }
                , { field: 'parentid', title: '类目', width: 150, sort: true }
                , { field: 'title', title: '名称', edit: 'text', sort: true }
                , { field: 'adddatetime', title: '发布时间', width: 110, sort: true }
                , { fixed: 'right', title: '操作', width: 150, toolbar: '#barDemo' }


            ]
        ],
        id: 'testReload',
        page: true,
        limit: 20
    });


    var $ = layui.$,
        active = {
            reload: function() {
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        date_min: $('input[name=date_min]').val()
                        ,date_max: $('input[name=date_max]').val()
                        ,key: $('input[name=key]').val()
                        ,parentid: $('select[name=parentid]').val()
                    }

                });
            }
        };

    $('.layui-form .layui-btn').on('click', function() {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });


    //监听行工具事件
    table.on('tool(demo)', function(obj) {
        var data = obj.data;
        var pid = obj.data["id"]
        if (obj.event === 'del') {
            layer.confirm('确定删除此信息？',{icon:3, title:'提示信息'}, function(index) {
                $.ajax({
                    type: "POST",
                    cache: true,
                    dataType: "json",
                    url: "?act=del",
                    data: { "id": pid },
                    success: function(data) {
                        switch (data.status) {
                            case "y":
                                obj.del();
                                break;
                        }
                    }
                });
                layer.close(index);
            });

        } else if (obj.event === 'edit') {
            tc2('修改信息', 'listform.asp?id=' + pid, 800, 450)
        }

    });


    //监听单元格编辑
    table.on('edit(demo)', function(obj){
      var value = obj.value //得到修改后的值
      ,data = obj.data //得到所在行所有键值
      ,field = obj.field; //得到字段
      var thisObj=obj
      $.ajax({
                type: "POST",
                cache: true,
                dataType: "json",
                url: "?act=onlineedit&id="+data.id,
                data: { "title":  value  },
                success: function(data) {
                    switch (data.status) {
                        case "y": 
                        layer.msg(data.info, {icon: 1});
                            break;
                        case "n": 
                        layer.msg(data.info, {icon: 2}); 
                            break;
                    }
                }
            });




    });





});
</script>


<script type="text/javascript" src="js/pc.js"></script>   

</body>

</html>
