<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/users">urser</a></p>
    <p><a href="/users/abc">urser/abc</a></p>
    <p><a href="/m">m</a></p>

    <%=nav%>
  </body>
</html>
